/* Large Desktop */
.App {
  text-align: center;
  max-width: 1800px;
  margin: 0 auto;
  background-color: #f6f8f9;
}

/* Desktop*/

@media screen and (max-width: 1440px) {
  .App {
    max-width: 1440px;
  }
}

/* Tablet*/

@media screen and (max-width: 768px) {
  .App {
    max-width: 768px;
  }
}

/* Phone*/

@media screen and (max-width: 375px) {
  .App {
    max-width: 375px;
  }
}
